@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

:root{
    --white-color:#fff;
    --dark-color:#252525;
    --primary-color:#3b141c;
    --secondary-color: #ae374e;
    --light-pink-color:#faf4f5;
    --medium-green-color:#ccc;

    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.42rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    --font-weight-normal:400;
    --font-weight-medium: 500;
    --font-weight-semibold:600;
    --font-weight-bold: 800;

    --border-radius-s:5px;
    --border-radius-s: 10px;
    --border-radius-l: 15px;


    --site-max-width:1300px;

}

ul{
    list-style: none;
}
a{
    text-decoration: none;

}
button{
    cursor: pointer;
    border: none;
    background: none;
}
img{
    width: 100%;
}
.section-content{
    padding: 0 20px;
    margin: 0 auto;
    max-width: var(--site-max-width);

}
header{
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--primary-color);

}
header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.navbar .nav-logo .logo-text{
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);


}
.navbar .nav-menu{
    display:flex;
    gap: 10px;

}
.navbar .nav-menu .nav-link{
    padding: 10px 10px;
    color: var(--white-color);
    background: var(--secondary-color);
    border-radius:var(--border-radius-m);
    font-size:var(--font-size-m);
    transition: 0.3s ease;

}
.navbar .nav-menu .nav-link :hover{
    background: var(--light-pink-color);
    color:var(--primary-color);

}